@model MVCAssessment.Models.Customer
@{ ViewBag.Title = "CustomerOfOrderID"; }

<h2>Customer  Details of  order ID 10248</h2>


<p>Customer ID: @Model.CustomerID</p>
<p>Company Name: @Model.CompanyName</p>
<p>Contact Name: @Model.ContactName</p>
<p>Contact Title : @Model.ContactTitle</p>
<p>Address : @Model.Address</p>
<p>City : @Model.City</p>
<p>Country : @Model.Country</p>
<p>Phone Number : @Model.Phone</p>
<p>Fax :@Model.Fax</p>

